    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

    * {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    }
    body {
      background-color: #F4F0EA;
      color: #798252;
      font-family:  "DM Serif Text", serif;
      font-weight: 400;

    }

    header {
      padding: 2rem;
      background-color: #A0AA7B;
      text-align: center;
    }
    main{
      padding: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    section{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    h2{
      color: #6B3D43
    }
    h1{
      color: #6B3D43
    }
    h3{
      color: #6B3D43
    }

    input[type="radio"] {
      accent-color: #89a382;
    }
    input[type="text"], input[type="password"] 
    input[type="date"] input[type="email"]{
      width: 100%;
      padding: 0.5rem;
      border: 2px solid #89a382;
      outline: none;
      border-radius: 15.5px;
    }
    input::placeholder input[type="file"]{
      color: #796265;
    }
    select{
      cursor: pointer;
      background-color: #89a382;
      color: #6B3D43;
      border-radius: 15.5px;
      border: none;
      outline: none;
    }
    img{
      width: 5rem;
      border-radius: 15.5px;
    }
    table{
      width: 100%;
      border-collapse: collapse;
    }
    th{
      background-color: #89a382;
      color: #6B3D43;
      padding: 1rem;
    }
    td{
      color: #6B3D43;
      padding: 1rem;
      text-align: center;
    }
    tfoot td {
      background-color: #6B3D43;
      color: #F4F0EA;
    }
    details{
      background-color: #89a382;
      border-radius: 15.5px;
      padding: 1rem;
    }
    summary{
      color: #6B3D43;
      margin: 0.5rem;
      cursor: pointer;
    }
    ol{
      margin-left: 1.6rem;
    }
    ol li{
      padding: 0.2rem;
    }
    fieldset{
      border: 2px solid #A0AA7B;
      border-radius: 5px;
      padding: 1rem;
    }
    legend{
      color: #6B3D43;
      padding: 0 0.5rem;
    }
    textarea{
      background-color: transparent;
      outline: none;
      border-radius: 15.5px;
      border: 2px solid #89a382;
    }
    button{
      background-color: #89a382;
      border: none;
      padding: 0.8rem;
      color: #6B3D43;
      border-radius: 15.5px;
      cursor: pointer;
    }
    footer{
      background-color: #6B3D43;
      padding: 2rem;
      text-align: center;
    }
    .paragrafo-footer{
      color: #F4F0EA;
      }
      footer a{
        text-decoration: none;
        color: #89a382;
      }